{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "func-names": 0,
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "max-len": [
      2,
      {
        "code": 100,
        "ignoreComments": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "no-console": 0
  },
  "globals": {
    "$": false
  },
  "env": {
    "browser": true
  }
}
